misc/Website RAG Agent Automation.json
{
  "name": "Website RAG Agent Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "b0355f22-495e-4d6a-9141-680be3b95486",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        848
      ]
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__Website URL to scrape__>",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "fb94cf01-0593-4ac1-890a-44e431eb60b1",
      "name": "Fetch Website Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        848
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "website_content"
        },
        "clearStore": true
      },
      "id": "8574e369-8c82-4b1e-84e9-47d51a838e64",
      "name": "Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        192,
        848
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7f45ba5b-c61a-446f-b169-deb4f28961a9",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        1072
      ],
      "credentials": {
        "openAiApi": {
          "id": "YDilHpMy8J9xV5U5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "887ed734-b593-4a90-bf58-02d0f188a84d",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        1072
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6dd8fdcd-2a1b-46e2-b7d0-df0b59690577",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        368,
        1280
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "37bab590-e45e-42c7-955f-a288e4e9042a",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -288,
        208
      ],
      "webhookId": "078c3bf7-d291-44ee-86c4-5f642802e130"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful AI assistant with access to a knowledge base containing website content.\n\nYour task is to:\n1. Use the website_knowledge_base tool to search for relevant information when answering questions\n2. Provide accurate, helpful answers based on the website content\n3. If information is not found in the knowledge base, clearly state that\n4. Be conversational and friendly while maintaining accuracy\n\nAlways cite information from the knowledge base when answering questions about the website."
        }
      },
      "id": "e136af5c-fb98-4672-a6b3-94bc3fefe130",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        120,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a0555240-5ec7-410b-b1f5-862deffd6c38",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "YDilHpMy8J9xV5U5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "id": "6cc78682-1bdf-4016-abf9-cd333e981bdd",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        496
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the website content knowledge base to answer questions about the website",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "website_content"
        },
        "topK": 5
      },
      "id": "4e466d01-47b5-4086-9f08-990135f0e1e7",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        320,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c4bffd3c-e442-4e82-84c8-90a0d6912b6d",
      "name": "OpenAI Embeddings for Retrieval",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        432
      ],
      "credentials": {
        "openAiApi": {
          "id": "YDilHpMy8J9xV5U5",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Website Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website Content": {
      "main": [
        [
          {
            "node": "Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Trigger",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings for Retrieval": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28a8c522-22e0-4e51-b3d5-e0cc8e6ddb81",
  "meta": {
    "instanceId": "6e8b4bc7b85f6a8d984d42e593ec919734a9ac4e70abfb1f6f947fe7b1b0c3bc"
  },
  "id": "RES0PKtAfiS36PDs",
  "tags": []
}